.Block {
	background-color: blue;
	flex: 0 0 auto;
	transition: ease all 0.2s;
	cursor: pointer;
}


.Block-quote {
	background-color: #333;
}

.Block-image {
	width: 100%;
	height: 100%;

}

.Block-Image-Container {
	width: 100%;
	height: 100%;
	cursor: pointer;
	overflow: hidden;

}

.Block-Image-Container .image {
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	transition: ease all 0.2s;
}

.Block-Image-Container:hover .image{
	transform: scale(1.1);
	transition: ease all 0.2s;
}

.Block-Image-Container .Hover span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 40px;
	width: 100%;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.Block-video {
	position: relative;
}

.Block-video iframe {
	/*display: none;*/
	width: 100%;
	height: 100%;
	border: 0;
}

.Block-video .Block-Video-container {
	height: 100%;
}

.Block-video iframe .ytp-large-play-button {
	visibility: hidden;
}

.Block-video .Block-Video-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 15px;
	height: 40px;
}

.Block-video .Block-Video-headline {
	margin-left: 40px;
	color: #fff;
	height: 100%;
}

.Block-video .Block-Video-headline .Headline-Title {
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	display: block;
}


.Block-Video-caption .Play-Button {
	background-color: #00C29A;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	transition: ease 0.2s all;
}

.Block-Video-caption .Play-Button:hover {
	filter: brightness(115%);
	transform: scale(1.1);
	transition: ease 0.2s all;
}

.Block-Video-caption .Play-Button i {
	color: #fff;
	line-height: 40px;
}

.Block-quote .Block-Quote-caption {
	width: 100%;
	height: 100%;
	padding: 60px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.Block-quote .Block-Quote-caption h2 {
	color: #eee;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.02em;
}

.Block-quote .Block-Quote-caption i {
	color: #444;
	transition: ease all 0.2s;
}

.Block-quote:hover i {
	transform: rotate(180deg);
	transition: ease all 0.2s;
}
