.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  height: 40px;
  padding: 10px;
  color: white;
}

.App-Logo-Container {
	display: flex;
	align-items: center;
}

.App-logo {
  height: 40px;
	margin-right: 10px;
}
